[Unit]
Requires=agent-herdr.service
After=agent-herdr.service

[Service]
Environment=AGENT_HERDR_BOOTSTRAP=external
Environment=AGENT_HERDR_SESSION=@HERDR_SESSION@
Environment=AGENT_HERDR_BIN=@HERDR_BIN@
